html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Graphik;
  font-size: 32px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* /// Front-page /// */
.header {
  padding: 32px;
  border: 4px solid black;
  background-color: sandybrown;
  margin-bottom: 40px;
}

.starlink {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 16px;
  background: black
    url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60);
}

.content-padding {
  margin: 32px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.project {
  border: 4px solid black;
  position: relative;
  overflow: hidden;
  padding: 20px;
  transition: opacity 1s, transform 0.1s;
  opacity: 0;
  display: block;
}

.project img {
  transition: 0.4s cubic-bezier(0, 0.3, 0.35, 1);
}

.project:hover img {
  transform: scale(1.08);
}

.project h2 {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 16px;
  font-size: 2rem;
  margin: 10rem 0 0 0;
}

.project img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

/* We add this class to projects when they are scrolled into view */
.visible {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: once;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* –– End Front-page –– */

/* /// Project Page /// */
.project-page {
  overflow: auto;
}
body > * {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: once;
}

.back-link {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
}

.project-title {
  margin-top: 0;
}

.project-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
/* –– End Project Page –– */
